<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="text-center">Lista de Artículos</h3>
    </div>
    <div class="col-sm-4">
      <a [routerLink]="['/gestionArticle',1,0]" class="btn btn-success w-100"
        ><i class="bi bi-plus-circle-fill"></i> Nuevo Artículo</a
      >
    </div>
  </div>
  <div class="row mt-5 caja">
    <div class="col-sm-12">
      <table id="tblArticulos" class="display" style="width: 100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Imagen</th>
            <th>Texto</th>
            <th>Fecha de creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles">
            <td>{{ article.id }}</td>
            <td>{{ article.titulo }}</td>
            <td>
              <img src="http://localhost:8000{{article.imagen}}" style="width: 180px" alt=""/>
            </td>
            <td>{{ article.texto }}</td>
            <td>{{ article.created_at | date:"medium"}}</td>
            <td>
              <a [routerLink]="['/gestionArticle',2,article.id]" class="btn btn-warning"
                ><i class="bi bi-pencil-fill"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
